# Local .terraform directories
.terraform/
**/.terraform/*


# Terraform .tfstate files
*.tfstate
*.tfstate.*

*.lock.hcl

# Crash log files
crash.log
crash.*.log

# Terraform .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

!*.rename

# Terraform override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration files
.terraformrc
terraform.rc

script/*

# logs
*.log

# Mac .DS_Store files
.DS_Store

# vscode files
.vscode/

# SSH Keys
*.pem

# Backup files
*.bak
*.code-workspace